//SERVICE SECTION's CSS STARTED-->
#service{

    .your-cart{
        position: fixed;
        right: -420px;
        top: 0px;
        z-index: 999;
        background-color: white;
        padding: 30px;
        width: 30%;
        height: 100%;
        transition: all .3s;
        opacity: 1;
        .exit-icon{
            position: absolute;
            top: 4%;
            right: 5%;
            border-radius: 50%;
            background-color: #232323;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            opacity: .8;
            i{
                color: white;
                opacity: .9;
                font-size: 18px;
            }
        }
        .header{
            margin-bottom: 20%;
            h5{
                color: #343434;
                font-size: 19px;
            }
            &::after{
                content: "";
                position: absolute;
                top: 13%;
                left: 5%;
                width: 90%;
                height: 1px;
                background-color: #767676;
                opacity: .1;
            }
        }
        .cart-list{
            list-style: none;
            padding: 0px;
            overflow-y: scroll;
            .cart-item{
                display: flex;
                margin-bottom: 15%;
                .icons{
                    position: absolute;
                    right: 17%;
                    i{
                        font-size: 20px;
                        color: #767676;
                        opacity: .3;
                    }
                }
                a{

                    img{
                        max-width: 100%;
                        width: 85px;
                        margin-top: 10%;
                    }
                }
                .img-text{
                    color: #767676;
                    padding-top: 26px;
                    padding-left: 30px;
                    h6{
                        font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
                        margin-bottom: 17px;
                    }
                    h4{
                        font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
                        font-size: 11px;
                        color: black;
                        opacity: .9;
                    }
                }
            }
        }
        .list-end{
            margin-top: 15%;
            .end-text{
                display: flex;
                h5{
                    font-size: 18px;
                    color: #343434;
                    font-weight: 700;
                    opacity: .8;
                }
                span{
                    font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
                    color: #767676;
                    margin-left: 20px;
                }
                &::after{
                    content: "";
                    position: absolute;
                    bottom: 37%;
                    left: 5%;
                    width: 90%;
                    height: 1px;
                    background-color: #767676;
                    opacity: .1;
                }
            }
            .mybutton{
                display: flex;
                justify-content: center;
                a{
                    background-color: #425cbb;
                    padding: 12px 60px 17px 60px;
                    margin-top: 10%;
                    span{
                        text-transform: uppercase;
                        font-size: 11px;
                        letter-spacing: 1px;
                        color: white;
                        opacity: .9;
                    }
                }
            }
        }
    }
    .intro-overlay{
        position: fixed;
        width: 100%;
        height: 102%;
        background-color: black;
        opacity: .8;
        top: -3px;
        left: 0px;
        z-index: 99999999;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .3s;
        .x-icon{
            position: absolute;
            top: 0;
            right: 0px;
            display: inline-block;
            padding: 15px 30px;
            font-size: 30px;
            color: rgba(255, 255, 255, 0.3);
            
            i{
                transition: all .2s;
                &:hover{
                    color: white;
                    transition: all .2s;
                }
            }
        }
        .input{
            width: 100%;
            display: flex;
            justify-content: center;
            &:focus{
                outline: 0;
            }
            i{
                padding: 15px 0px 15px 15px;
                font-size: 30px;
                color: white;
                background-color: rgba(255, 255, 255, 0.3);
                width: 60px;
                height: 60px;
                line-height: 37px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 30px 0px 0px 30px;
            }
            input{
                width: 50%;
                background-color: rgba(255, 255, 255, 0.3);
                border-radius: 0px 30px 30px 0px;
                padding: 15px 10px;
                border: 2px solid transparent;
                &:focus{
                    outline: 0;
                }
                &::placeholder{
                    color: rgb(231, 224, 224);
                    font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
                    font-style: italic;
                    opacity: 1;
                }
            }
        }
    }
    .service-part{
        padding: 0px;
        .service-image{
            display: inline-block;
            height: 500px;
            overflow: hidden;
            background-image: url(../images/About-section-images/Services-images/image1.jpg);
            background-attachment: fixed;
            width: 100%;
            background-position: -100px -150px;
            zoom: .9;
            .overlay{
                position: absolute;
                top: 0px;
                left: 0px;
                background-color: #232323;
                width: 100%;
                height: 99%;
                opacity: .8;
            }
        }
        .service-text{
            position: absolute;
            top: 35%;
            left: 0%;
            color: white;
            text-align: center;
            h1{
                font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
                font-weight: 600;
                font-size: 33px;
                margin-bottom: 30px;
            }
            p{
                padding: 0px 17%;
                font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
                font-size: 23px;
                line-height: 42px;
            }
        }
    }
}
//SERVICE SECTION's CSS ENDED-->

//INTERFACE SECTION's CSS STARTED-->
#interface{
    margin-top: -100px;
    padding-bottom: 100px;
    .part{
        margin-bottom: 30px;
        .interface-card{
            z-index: 3;
            .icons{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 80px 90px;
                background-color: #f4f4f4;
                i{
                    font-size: 65px;
                }
            }
            .interface-text{
                background-color: white;
                padding: 40px;
                h2{
                    font-size: 16px;
                    margin-bottom: 30px;
                    font-weight: 700;
                    letter-spacing: .5px;
                }
                p{
                    font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
                    color: #767676;
                    font-weight: 400;
                }
            }
        }
    }
}
//INTERFACE SECTION's CSS ENDED-->

//BUSINESS SECTION's CSS STARTED-->
#business{

    .business-card{
        padding: 0px;
        .business-image{
            background-image: url(../images/About-section-images/Business-images/image1.jpg);
            background-attachment: fixed;
            width: 100%;
            height: 350px;
            zoom: .85;
            .overlay{
                position: absolute;
                top: 0px;
                left: 0px;
                background-color: #232323;
                width: 100%;
                height: 100%;
                opacity: .5;
            }
        }
        .business-text{
            position: absolute;
            top: 33%;
            left: 33%;
            h1{
                font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
                font-weight: 600;
                font-size: 26px;
                color: white;
                margin-bottom: 10%;
            }
            .mybutton{
                text-align: center;
                a{
                    background-color: #425cbb;
                    padding: 13px 40px 18px 40px;
                    border-radius: 30px;
                    transition: all .2s;
                    text-decoration: none;
                    span{
                        color: white;
                        font-size: 13px;
                        letter-spacing: 1px;
                        opacity: .8;
                    }
                    &:hover{
                        background-color: #546cc3;
                        border: #546cc3;
                        transition: all .2s;
                    }
                }               
            }
        }
    }
}
//BUSINESS SECTION's CSS ENDED-->