//INTERFACE SECTION's CSS STARTED-->
#something{

    .your-cart{
        position: fixed;
        right: -420px;
        top: 0px;
        z-index: 999;
        background-color: white;
        padding: 30px;
        width: 30%;
        height: 100%;
        transition: all .3s;
        opacity: 1;
        .exit-icon{
            position: absolute;
            top: 4%;
            right: 5%;
            border-radius: 50%;
            background-color: #232323;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            opacity: .8;
            cursor: pointer;
            i{
                color: white;
                opacity: .9;
                font-size: 18px;
            }
            &:hover{
                background-color: black;
                opacity: 1;
                transition: all .2s;
            }
        }
        .header{
            margin-bottom: 20%;
            h5{
                color: #343434;
                font-size: 19px;
            }
            &::after{
                content: "";
                position: absolute;
                top: 13%;
                left: 5%;
                width: 90%;
                height: 1px;
                background-color: #767676;
                opacity: .1;
            }
        }
        .cart-list{
            list-style: none;
            padding: 0px;
            overflow-y: scroll;
            .cart-item{
                display: flex;
                margin-bottom: 15%;
                .icons{
                    position: absolute;
                    right: 17%;
                    i{
                        font-size: 20px;
                        color: #767676;
                        opacity: .3;
                        cursor: pointer;
                        &:hover{
                            opacity: .8;
                            transition: all .2s;
                        }
                    }
                }
                a{

                    img{
                        max-width: 100%;
                        width: 85px;
                        margin-top: 10%;
                    }
                }
                .img-text{
                    color: #767676;
                    padding-top: 26px;
                    padding-left: 30px;
                    h6{
                        font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
                        margin-bottom: 17px;
                    }
                    h4{
                        font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
                        font-size: 11px;
                        color: black;
                        opacity: .9;
                    }
                }
            }
        }
        .list-end{
            margin-top: 15%;
            .end-text{
                display: flex;
                h5{
                    font-size: 18px;
                    color: #343434;
                    font-weight: 700;
                    opacity: .8;
                }
                span{
                    font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
                    color: #767676;
                    margin-left: 20px;
                }
                &::after{
                    content: "";
                    position: absolute;
                    bottom: 37%;
                    left: 5%;
                    width: 90%;
                    height: 1px;
                    background-color: #767676;
                    opacity: .1;
                }
            }
            .mybutton{
                display: flex;
                justify-content: center;
                a{
                    background-color: #425cbb;
                    padding: 12px 60px 17px 60px;
                    margin-top: 10%;
                    span{
                        text-transform: uppercase;
                        font-size: 11px;
                        letter-spacing: 1px;
                        color: white;
                        opacity: .9;
                    }
                }
            }
        }
    }
    .intro-overlay{
        position: fixed;
        width: 100%;
        height: 102%;
        background-color: black;
        opacity: .8;
        top: -3px;
        left: 0px;
        z-index: 99999999;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .3s;
        .x-icon{
            position: absolute;
            top: 0;
            right: 0px;
            display: inline-block;
            padding: 10px 20px;
            font-size: 30px;
            color: rgba(255, 255, 255, 0.3);
            
            i{
                transition: all .2s;
                cursor: pointer;
                &:hover{
                    color: white;
                    transition: all .2s;
                }
            }
        }
        .input{
            width: 100%;
            display: flex;
            justify-content: center;
            &:focus{
                outline: 0;
            }
            i{
                padding: 15px 0px 15px 15px;
                font-size: 30px;
                color: white;
                background-color: rgba(255, 255, 255, 0.3);
                width: 60px;
                height: 60px;
                line-height: 37px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 30px 0px 0px 30px;
            }
            input{
                width: 50%;
                background-color: rgba(255, 255, 255, 0.3);
                border-radius: 0px 30px 30px 0px;
                padding: 15px 10px;
                border: 2px solid transparent;
                &:focus{
                    outline: 0;
                }
                &::placeholder{
                    color: rgb(231, 224, 224);
                    font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
                    font-style: italic;
                    opacity: 1;
                }
            }
        }
    }
    .business-card{
        padding: 0px;
        .business-image{
            background-image: url(../images/Contact-page-images/Something-images/image1.jpg);
            background-attachment: fixed;
            height: 600px;
            background-position: -100px -150px;
            zoom: .9;
            .overlay{
                position: absolute;
                top: 0px;
                left: 0px;
                background-color: #232323;
                width: 100%;
                height: 100%;
                opacity: .6;
            }
        }
        .business-text{
            position: absolute;
            top: 35%;
            left: 0%;
            color: white;
            text-align: center;
            h1{
                font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
                font-weight: 600;
                font-size: 33px;
                margin-bottom: 30px;
            }
            p{
                padding: 0px 17%;
                font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
                font-size: 23px;
                line-height: 42px;
            }
        }
    }
}
//INTERFACE SECTION's CSS ENDED-->

//CONNECTION SECTION's CSS STARTED-->
#connection{

    .parts{
        padding: 100px;
        .icons{
            text-align: center;
            i{
                font-size: 60px;
            }
        }
        .card-text{
            text-align: center;
            h1{
                font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
                font-weight: 600;
                font-size: 25px;
                margin: 30px 0px;
            }
            p{
                color: #767676;
                font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
                a{
                    color: white;
                    text-decoration: underline;
                }
            }
        }
    }
    .first-part{
        background-color: white;
    }
    .second-part{
       background-color: #f4f4f4; 
    }
    .third-part{
        background-color: black;
        opacity: .9;
        color: white;
        .card-text{

            h1{
                color: white;
            }
            p{
                color: white;
            }
        }
    }
}
//CONNECTION SECTION's CSS ENDED-->

//REACH SECTION's CSS STARTED-->
#reach{
    padding: 100px 0px;
    .header{

        h2{
            font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
            text-align: center;
            font-weight: 600;
            font-size: 25px;
            margin: 30px 0px;
        }
    }
    .myinput1{
        text-align: center;
        .icons{
            position: absolute;
            left: 17%;
            top: 0px;
            background-color: white;
            padding: 10px;
            border-radius: 5px;
            i{
                font-size: 25px;
                opacity: .3;
            }
        }
        input{
            width: 65%;
            border: 2px solid white;
            padding: 10px;
            border-radius: 5px;
            margin-left: 30px;
            transition: all .2s;
            &:focus{
                outline: 0;
            }
            &:hover{
                box-shadow: 0px 0px 40px 0px #ebe8e8;
                transition: all .2s;
            }
            &::placeholder{
                font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
                font-style: italic;
                opacity: .5;
            }
        }
    }
    .myinput2{
        display: flex;
        .myinput3{
            display: flex;
            justify-content: flex-end;
            margin: 30px 0px;
            .icons{
                position: absolute;
                left: 32%;
                top: 0px;
                border-radius: 5px;
                background-color: white;
                padding: 10px;
                i{
                    font-size: 25px;
                    opacity: .3;
                }
            }
            input{
                width: 62%;
                border: 2px solid white;
                padding: 10px;
                border-radius: 5px;
                transition: all .2s;
                &:focus{
                    outline: 0;
                }
                &:hover{
                    box-shadow: 0px 0px 40px 0px #ebe8e8;
                    transition: all .2s;
                }
                &::placeholder{
                    font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
                    font-style: italic;
                    opacity: .5;
                }
            }
        }
        .myinput4{
            margin: 30px 0px;
            .icons{
                position: absolute;
                left: 4%;
                top: 0px;
                border-radius: 5px;
                background-color: white;
                padding: 8px;
                i{
                    font-size: 30px;
                    opacity: .3;
                }
            }
            input{
                width: 62%;
                border: 2px solid white;
                padding: 10px;
                border-radius: 5px;
                margin-left: 7%;
                transition: all .2s;
                &:focus{
                    outline: 0;
                }
                &:hover{
                    box-shadow: 0px 0px 40px 0px #ebe8e8;
                    transition: all .2s;
                }
                &::placeholder{
                    font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
                    font-style: italic;
                    opacity: .5;
                }
            }
        }
    }
    .area{
        text-align: center;
        padding: 0px 16%;
        .mytextarea{
            padding: 20px;
            width: 100%;
            height: 190px;
            border: 2px solid white;
            border-radius: 5px;
            transition: all .2s;
            &:focus{
                outline: 0;
            }
            &:hover{
                box-shadow: 0px 0px 40px 0px #ebe8e8;
                transition: all .2s;
            }
            &::placeholder{
                font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
                font-style: italic;
                opacity: .5;
            }
        }
    }
    .button{
        text-align: center;
        padding: 0px 16%;
        .mybutton{
            background-color: #425cbb;
            cursor: pointer;
            padding: 15px 0px;
            text-align: center;
            margin: 30px 0px;
            transition: all .3s;
            &:hover{
                background-color: #546cc3;
                transition: all .3s;
            }
            a{
                text-decoration: none;
                color: white;
                letter-spacing: 1px;
                font-size: 12px;
                font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;               
            }
        }
    }
}
//REACH SECTION's CSS ENDED-->