#navigation {
  padding: 5px 35px;
  background-color: #f8f8f8;
}

#navigation .piller-img {
  display: inline-block;
  margin: 13px 0px;
}

#navigation .piller-img img {
  max-width: 75px;
}

#navigation .nav-links {
  display: inline-block;
  padding-left: 40px;
}

#navigation .nav-links a {
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 0px 10px;
  color: #767676;
  text-decoration: none;
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
}

#navigation .icons {
  display: inline-block;
  position: absolute;
  right: 11px;
  top: 20px;
  color: black;
}

#navigation .icons i {
  position: absolute;
  right: 0px;
  font-size: 15px;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#navigation .icons i:hover {
  opacity: .5;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#navigation .icons .first-icon {
  right: 51px;
  top: 1px;
}

#navigation .icons::after {
  content: "";
  width: 2px;
  height: 62px;
  background-color: #f1efef;
  position: absolute;
  top: -24px;
  right: 100px;
}

#intro .image-class {
  padding: 0px;
}

#intro .image-class .intro-img {
  position: relative;
  background-image: url(../images/home-img/home-img2.jpg);
  width: 100%;
  height: 720px;
  background-attachment: fixed;
  background-position: 0px -150px;
  zoom: .86;
}

#intro .image-class .intro-img img {
  max-width: 100%;
}

#intro .image-class .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: black;
  opacity: .3;
  max-width: 100%;
  width: 100%;
  height: 100%;
}

#intro .image-class .image-text {
  position: absolute;
  top: 24%;
  left: 24%;
}

#intro .image-class .image-text .image img {
  width: 80%;
}

#intro .image-class .image-text .text {
  position: absolute;
  top: 45px;
  left: 85%;
  color: white;
  width: 500px;
}

#intro .image-class .image-text .text p {
  font-size: 24px;
  font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
  opacity: .8;
}

#intro .image-class .myButton {
  position: absolute;
  top: 54%;
  left: 40%;
  border-radius: 30px;
  background-color: #425cbb;
  padding: 12px 70px 18px 70px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#intro .image-class .myButton span {
  color: white;
  font-size: 11px;
  margin-left: 5px;
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  letter-spacing: 1px;
}

#intro .image-class .myButton span i {
  font-size: 9px;
  position: absolute;
  top: 21px;
  left: 45px;
}

#intro .image-class .myButton:hover {
  background-color: #546cc3;
  border: #546cc3;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#intro .image-class .icons {
  position: absolute;
  top: 85%;
  left: 39%;
  color: white;
  font-size: 25px;
}

#intro .image-class .icons i {
  opacity: .5;
  margin: 0px 25px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#intro .image-class .icons i:hover {
  opacity: 1;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#digital .header1 {
  text-align: center;
}

#digital .header1 h3 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 33px;
}

#digital .header1 p {
  font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
  font-size: 23px;
  color: #767676;
  padding: 0px 25%;
}

#digital .digital-list {
  list-style: none;
  font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
  color: #767676;
  text-align: center;
}

#digital .digital-list .digital-items {
  font-family: 'Lora', serif;
  display: inline-block;
}

#digital .digital-list .digital-items::after {
  content: "/";
  opacity: .1;
}

#digital .digital-list .last-item::after {
  content: " ";
}

#digital .digital-images .kart {
  padding: 0px;
}

#digital .digital-images .digital-image img {
  max-width: 100%;
}

#digital .digital-images .digital-image .overlay {
  background-color: #232323;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .9;
  display: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#digital .digital-images .digital-image .overlay h5 {
  position: absolute;
  top: 50px;
  right: 35px;
  color: white;
  display: inline-block;
  -webkit-transition: all .13s;
  transition: all .13s;
}

#digital .digital-images .digital-image .overlay span {
  position: absolute;
  top: 80px;
  right: 35px;
  color: white;
  font-family: 'Lora', serif;
  -webkit-transition: all .13s;
  transition: all .13s;
}

#digital .digital-images .digital-image .overlay:hover h5 {
  top: 40px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

#digital .digital-images .digital-image .overlay:hover span {
  top: 70px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

#digital .digital-images .digital-image:hover .overlay {
  display: inline-block;
  -webkit-transition: all .3s;
  transition: all .3s;
}
/*# sourceMappingURL=style.css.map */