#navigation {
  padding: 5px 35px;
  background-color: #f8f8f8;
  position: fixed;
  z-index: 99;
  width: 100%;
  -webkit-box-shadow: 0px -12px 20px 8px #d4cece;
          box-shadow: 0px -12px 20px 8px #d4cece;
}

#navigation .piller-img {
  display: inline-block;
  margin: 13px 0px;
}

#navigation .piller-img img {
  max-width: 75px;
}

#navigation .nav-links {
  display: inline-block;
  padding-left: 40px;
}

#navigation .nav-links a {
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 0px 10px;
  color: #767676;
  text-decoration: none;
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
}

#navigation .icons {
  display: inline-block;
  position: absolute;
  right: 11px;
  top: 20px;
  color: black;
}

#navigation .icons i {
  position: absolute;
  right: 0px;
  font-size: 15px;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#navigation .icons i:hover {
  opacity: .5;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#navigation .icons .first-icon {
  right: 51px;
  top: 1px;
}

#navigation .icons::after {
  content: "";
  width: 2px;
  height: 62px;
  background-color: #f1efef;
  position: absolute;
  top: -24px;
  right: 100px;
}

#intro .image-class {
  padding: 0px;
}

#intro .image-class .intro-img {
  position: relative;
  background-image: url(../images/Home-page-images/Home-images/home-img2.jpg);
  width: 100%;
  height: 800px;
  background-attachment: fixed;
  background-position: 0px -150px;
  zoom: .86;
}

#intro .image-class .intro-img img {
  max-width: 100%;
}

#intro .image-class .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: black;
  opacity: .3;
  max-width: 100%;
  width: 100%;
  height: 100%;
}

#intro .image-class .image-text {
  position: absolute;
  top: 32%;
  left: 25%;
}

#intro .image-class .image-text .image img {
  width: 80%;
}

#intro .image-class .image-text .text {
  position: absolute;
  top: 45px;
  left: 85%;
  color: white;
  width: 500px;
}

#intro .image-class .image-text .text p {
  font-size: 24px;
  font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
  opacity: .8;
}

#intro .image-class .myButton {
  position: absolute;
  top: 54%;
  left: 40%;
  border-radius: 30px;
  background-color: #425cbb;
  padding: 12px 70px 18px 70px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#intro .image-class .myButton span {
  color: white;
  font-size: 11px;
  margin-left: 5px;
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  letter-spacing: 1px;
}

#intro .image-class .myButton span i {
  font-size: 9px;
  position: absolute;
  top: 21px;
  left: 45px;
}

#intro .image-class .myButton:hover {
  background-color: #546cc3;
  border: #546cc3;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#intro .image-class .icons {
  position: absolute;
  top: 85%;
  left: 39%;
  color: white;
  font-size: 25px;
}

#intro .image-class .icons i {
  opacity: .5;
  margin: 0px 25px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#intro .image-class .icons i:hover {
  opacity: 1;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#digital {
  padding-top: 100px;
}

#digital .digital {
  padding: 0px;
}

#digital .digital .header {
  text-align: center;
}

#digital .digital .header h3 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 33px;
}

#digital .digital .header p {
  font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
  font-size: 23px;
  color: #767676;
  padding: 0px 25%;
}

#digital .digital .digital-list {
  list-style: none;
  font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
  color: #767676;
  text-align: center;
}

#digital .digital .digital-list .digital-items {
  font-family: 'Lora', serif;
  display: inline-block;
  cursor: pointer;
  opacity: .5;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#digital .digital .digital-list .digital-items::after {
  content: "/";
  opacity: .3;
}

#digital .digital .digital-list .digital-items:hover {
  opacity: 1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#digital .digital .digital-list .last-item::after {
  content: " ";
}

#digital .digital .digital-images .kart {
  padding: 0px;
}

#digital .digital .digital-images .digital-image img {
  max-width: 100%;
}

#digital .digital .digital-images .digital-image .overlay {
  background-color: #232323;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .9;
  display: none;
}

#digital .digital .digital-images .digital-image .overlay h5 {
  position: absolute;
  top: 50px;
  right: 35px;
  color: white;
  display: inline-block;
}

#digital .digital .digital-images .digital-image .overlay span {
  position: absolute;
  top: 80px;
  right: 35px;
  color: white;
  font-style: italic;
  font-family: 'lora';
}

#digital .digital .digital-images .digital-image .overlay:hover h5 {
  top: 40px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

#digital .digital .digital-images .digital-image .overlay:hover span {
  top: 70px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

#digital .digital .digital-images .digital-image:hover .overlay {
  display: inline-block;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#collective {
  padding: 100px 0px;
}

#collective .header {
  text-align: center;
}

#collective .header h3 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 33px;
}

#collective .header p {
  font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
  font-size: 23px;
  padding: 0px 16%;
  color: #767676;
  margin: 4% 0px 7% 0px;
}

#collective .collective-images .collective-image img {
  max-width: 100%;
}

#collective .collective-images .collective-image .overlay {
  -webkit-transition: all .3s;
  transition: all .3s;
  background-color: #232323;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .9;
  display: none;
  text-align: center;
  color: white;
}

#collective .collective-images .collective-image .overlay .icons {
  position: absolute;
  bottom: 30px;
  left: 24%;
}

#collective .collective-images .collective-image .overlay .icons i {
  opacity: .5;
  margin: 0px 15px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#collective .collective-images .collective-image .overlay .icons i:hover {
  opacity: 1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#collective .collective-images .collective-image .overlay h5 {
  position: absolute;
  left: 44%;
  top: 42%;
  font-size: 11px;
  opacity: .7;
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  letter-spacing: 1px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

#collective .collective-images .collective-image .overlay h2 {
  position: absolute;
  top: 47%;
  left: 37%;
  font-size: 17px;
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  font-weight: 700;
  -webkit-transition: all .4s;
  transition: all .4s;
}

#collective .collective-images .collective-image .overlay:hover h5 {
  left: 42%;
  -webkit-transition: all .4s;
  transition: all .4s;
}

#collective .collective-images .collective-image .overlay:hover h2 {
  left: 35%;
  -webkit-transition: all .4s;
  transition: all .4s;
}

#collective .collective-images .collective-image:hover .overlay {
  display: inline-block;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#members {
  padding: 100px 0px;
}

#members .members-image {
  background-image: url(../images/Home-page-images/Members-image/image1.jpg);
  background-attachment: fixed;
  width: 100%;
  height: 450px;
  background-position-y: -270px;
  zoom: .9;
  padding: 0px;
}

#members .members-image .overlay {
  background-color: black;
  opacity: .7;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#members .members-image .members-card {
  color: white;
  padding: 0px;
}

#members .members-image .members-card .icons {
  text-align: center;
  font-size: 70px;
  margin-top: 35%;
}

#members .members-image .members-card .members-text {
  text-align: center;
}

#members .members-image .members-card .members-text h2 {
  font-size: 37px;
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  font-weight: 800;
  margin: 10px 0px 17px 0px;
}

#members .members-image .members-card .members-text span {
  font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
  font-style: italic;
  font-size: 18px;
}

#expertise .header {
  text-align: center;
}

#expertise .header h3 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 33px;
}

#expertise .header p {
  font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
  font-size: 23px;
  padding: 0px 16%;
  color: #767676;
  margin: 4% 0px 7% 0px;
}

#expertise .expertise-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 35px;
}

#expertise .expertise-card .icons {
  display: inline-block;
  font-size: 45px;
  margin-right: 25px;
}

#expertise .expertise-card .icons i {
  color: #425cbb;
}

#expertise .expertise-card .expertise-text h2 {
  display: inline-block;
  font-size: 11px;
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  letter-spacing: 2px;
  opacity: .6;
  margin-bottom: 30px;
}

#expertise .expertise-card p {
  font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
  color: #767676;
  font-weight: 400;
}

#expertise-image {
  position: relative;
}

#expertise-image .image-card .image {
  display: inline-block;
}

#expertise-image .image-card .image img {
  width: 70%;
}

#expertise-image .image-card .ex-img-text {
  position: absolute;
  top: 45%;
  right: -60px;
  padding-left: 51%;
}

#expertise-image .image-card .ex-img-text p {
  font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
  font-style: italic;
  font-size: 25px;
  color: #767676;
}

#expertise-image .image-card .ex-img-text h2 {
  font-size: 17px;
  font-weight: 700;
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  margin-bottom: 20px;
  margin-left: 10px;
}

#expertise-image .image-card .ex-img-text h3 {
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  font-size: 11px;
  letter-spacing: 1px;
  opacity: .8;
  margin-left: 10px;
}

#expertise-image::after {
  content: "";
  position: absolute;
  top: 18%;
  left: 0%;
  width: 100%;
  height: 82%;
  background: #f4f4f4;
  z-index: -1;
}

#views {
  padding: 100px 0px;
}

#views .header {
  text-align: center;
}

#views .header h3 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 33px;
}

#views .header p {
  font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
  font-size: 23px;
  padding: 0px 16%;
  color: #767676;
  margin: 4% 0px 7% 0px;
}

#views .views-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#views .views-cards a {
  text-decoration: none;
}

#views .views-cards a .views-card {
  background-color: white;
}

#views .views-cards a .views-card:hover .views-text {
  -webkit-box-shadow: 0px 14px 30px 1px #e4e3e3;
          box-shadow: 0px 14px 30px 1px #e4e3e3;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#views .views-cards a .views-card .views-image img {
  max-width: 100%;
}

#views .views-cards a .views-card .views-text {
  font-family: 'Montserrat', sans-serif;
  padding: 30px 16px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#views .views-cards a .views-card .views-text h2 {
  font-size: 11px;
  margin: 0px 0px 15px 0px;
  color: #767676;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: .8;
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
}

#views .views-cards a .views-card .views-text p {
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: black;
}

#views .views-cards a .views-card .views-text h3 {
  font-size: 11px;
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  letter-spacing: 1px;
  color: #767676;
  margin-top: 25%;
}

#views .views-cards a .views-card .views-text h3 span {
  font-style: italic;
  font-size: 10px;
  font-family: 'Lora', serif;
}

#views .views-cards a .views-card .views-text h3:after {
  content: "";
  position: absolute;
  bottom: 16%;
  left: 10%;
  width: 80%;
  height: 1px;
  background-color: #767676;
  opacity: .1;
}

#views .mybutton {
  text-align: center;
  margin-top: 10%;
}

#views .mybutton button {
  border-radius: 30px;
  border: 2px solid rgba(35, 35, 35, 0.1);
  padding: 10px 50px;
  background-color: transparent;
  -webkit-transition: all .2s;
  transition: all .2s;
  cursor: pointer;
}

#views .mybutton button h1 {
  font-size: 10px;
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  margin-top: 6px;
  letter-spacing: 1px;
}

#views .mybutton button:hover {
  border-color: black;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#carousel {
  padding: 80px 0px;
  background-color: #f4f4f4;
  overflow: hidden;
}

#carousel .slide-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#carousel .slide-inner .slide-item {
  display: inline-block;
  text-align: center;
  width: 200px;
  margin: 0px 5px;
}

#carousel .slide-inner .slide-item img {
  width: 60%;
  opacity: .4;
}

#interested {
  padding: 5% 24% 4% 24%;
  background: #425cbb;
}

#interested .interested-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#interested .interested-text p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 25px;
  color: white;
}

#interested .interested-text .mybutton {
  position: absolute;
  top: 9%;
  right: 0%;
}

#interested .interested-text .mybutton a {
  border: 2px solid rgba(255, 255, 255, 0.1);
  padding: 8px 33px 15px 33px;
  border-radius: 30px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

#interested .interested-text .mybutton a span {
  color: white;
  font-size: 11px;
  letter-spacing: 1px;
  opacity: .7;
}

#interested .interested-text .mybutton a:hover {
  border-color: rgba(255, 255, 255, 0.6);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#footer {
  background-color: black;
  opacity: .9;
  padding: 100px 0px;
}

#footer .footer-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .footer-cards .melbourne-card {
  padding: 0px 11%;
}

#footer .footer-cards .melbourne-card .melbourne-img {
  margin: 0% 0px 6% 12%;
}

#footer .footer-cards .melbourne-card .melbourne-img img {
  width: 33%;
}

#footer .footer-cards .melbourne-card .melbourne-text span {
  margin-left: 12%;
  font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
  font-style: italic;
  color: white;
}

#footer .footer-cards .melbourne-card .melbourne-text ul {
  list-style: none;
  padding: 8% 50% 0px 9%;
}

#footer .footer-cards .melbourne-card .melbourne-text ul li {
  display: inline-block;
  margin: 10px 10px;
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  font-size: 10px;
  color: white;
  opacity: .5;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#footer .footer-cards .melbourne-card .melbourne-text ul li:hover {
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#footer .footer-cards .recent-card span {
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  color: white;
  font-size: 11px;
  letter-spacing: 1px;
}

#footer .footer-cards .recent-card p {
  font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
  color: white;
  padding: 5% 12% 0% 0px;
}

#footer .footer-cards .subscribe-card span {
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  color: white;
  font-size: 11px;
  letter-spacing: 1px;
}

#footer .footer-cards .subscribe-card p {
  font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
  color: white;
  margin-top: 20px;
}

#footer .footer-cards .subscribe-card .int-btn {
  display: inline-block;
}

#footer .footer-cards .subscribe-card .int-btn input {
  border-radius: 50px 0px 0px 50px;
  position: relative;
  padding: 14px 25px;
}

#footer .footer-cards .subscribe-card .int-btn input::-webkit-input-placeholder {
  font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
  font-style: italic;
  opacity: .7;
}

#footer .footer-cards .subscribe-card .int-btn input:-ms-input-placeholder {
  font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
  font-style: italic;
  opacity: .7;
}

#footer .footer-cards .subscribe-card .int-btn input::-ms-input-placeholder {
  font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
  font-style: italic;
  opacity: .7;
}

#footer .footer-cards .subscribe-card .int-btn input::placeholder {
  font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
  font-style: italic;
  opacity: .7;
}

#footer .footer-cards .subscribe-card .int-btn a {
  position: absolute;
  right: 27%;
  border-radius: 0 50px 50px 0;
  background: #425cbb;
  padding: 16px 30px;
  color: white;
  text-decoration: none;
}

#footer .footer-cards .subscribe-card h1 {
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  color: white;
  font-size: 11px;
  letter-spacing: 1px;
  margin: 16% 0px 10% 0px;
}

#footer .footer-cards .subscribe-card .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 60%;
}

#footer .footer-cards .subscribe-card .icons i {
  font-size: 17px;
  color: white;
  opacity: .4;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#footer .footer-cards .subscribe-card .icons i:hover {
  opacity: 1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#footer-end {
  padding: 40px 0px;
  background-color: black;
  opacity: .91;
}

#footer-end .footer-end span {
  color: white;
  opacity: .3;
  font-size: 15px;
}

#service .service-part {
  padding: 0px;
}

#service .service-part .service-image {
  display: inline-block;
  height: 500px;
  overflow: hidden;
  background-image: url(../images/About-section-images/Services-images/image1.jpg);
  background-attachment: fixed;
  width: 100%;
  background-position: -100px -150px;
  zoom: .9;
}

#service .service-part .service-image .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #232323;
  width: 100%;
  height: 99%;
  opacity: .8;
}

#service .service-part .service-text {
  position: absolute;
  top: 35%;
  left: 0%;
  color: white;
  text-align: center;
}

#service .service-part .service-text h1 {
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  font-weight: 600;
  font-size: 33px;
  margin-bottom: 30px;
}

#service .service-part .service-text p {
  padding: 0px 17%;
  font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
  font-size: 23px;
  line-height: 42px;
}

#interface {
  margin-top: -100px;
  padding-bottom: 100px;
}

#interface .part {
  margin-bottom: 30px;
}

#interface .part .interface-card {
  z-index: 3;
}

#interface .part .interface-card .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 90px;
  background-color: #f4f4f4;
}

#interface .part .interface-card .icons i {
  font-size: 65px;
}

#interface .part .interface-card .interface-text {
  background-color: white;
  padding: 40px;
}

#interface .part .interface-card .interface-text h2 {
  font-size: 16px;
  margin-bottom: 30px;
  font-weight: 700;
  letter-spacing: .5px;
}

#interface .part .interface-card .interface-text p {
  font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
  color: #767676;
  font-weight: 400;
}

#business .business-card {
  padding: 0px;
}

#business .business-card .business-image {
  background-image: url(../images/About-section-images/Business-images/image1.jpg);
  background-attachment: fixed;
  width: 100%;
  height: 350px;
  zoom: .85;
}

#business .business-card .business-image .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #232323;
  width: 100%;
  height: 100%;
  opacity: .5;
}

#business .business-card .business-text {
  position: absolute;
  top: 33%;
  left: 33%;
}

#business .business-card .business-text h1 {
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  font-weight: 600;
  font-size: 26px;
  color: white;
  margin-bottom: 10%;
}

#business .business-card .business-text .mybutton {
  text-align: center;
}

#business .business-card .business-text .mybutton a {
  background-color: #425cbb;
  padding: 13px 40px 18px 40px;
  border-radius: 30px;
  -webkit-transition: all .2s;
  transition: all .2s;
  text-decoration: none;
}

#business .business-card .business-text .mybutton a span {
  color: white;
  font-size: 13px;
  letter-spacing: 1px;
  opacity: .8;
}

#business .business-card .business-text .mybutton a:hover {
  background-color: #546cc3;
  border: #546cc3;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#something .business-card {
  padding: 0px;
}

#something .business-card .business-image {
  background-image: url(../images/Contact-page-images/Something-images/image1.jpg);
  background-attachment: fixed;
  height: 600px;
  background-position: -100px -150px;
  zoom: .9;
}

#something .business-card .business-image .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #232323;
  width: 100%;
  height: 100%;
  opacity: .6;
}

#something .business-card .business-text {
  position: absolute;
  top: 35%;
  left: 0%;
  color: white;
  text-align: center;
}

#something .business-card .business-text h1 {
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  font-weight: 600;
  font-size: 33px;
  margin-bottom: 30px;
}

#something .business-card .business-text p {
  padding: 0px 17%;
  font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
  font-size: 23px;
  line-height: 42px;
}

#connection .parts {
  padding: 100px;
}

#connection .parts .icons {
  text-align: center;
}

#connection .parts .icons i {
  font-size: 60px;
}

#connection .parts .card-text {
  text-align: center;
}

#connection .parts .card-text h1 {
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  font-weight: 600;
  font-size: 25px;
  margin: 30px 0px;
}

#connection .parts .card-text p {
  color: #767676;
  font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
}

#connection .first-part {
  background-color: white;
}

#connection .second-part {
  background-color: #f4f4f4;
}

#connection .third-part {
  background-color: black;
  opacity: .9;
  color: white;
}

#connection .third-part .card-text h1 {
  color: white;
}

#connection .third-part .card-text p {
  color: white;
}

#reach {
  padding: 100px 0px;
}

#reach .header h2 {
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  margin: 30px 0px;
}

#reach .myinput1 {
  text-align: center;
}

#reach .myinput1 .icons {
  position: absolute;
  left: 17%;
  top: 0px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

#reach .myinput1 .icons i {
  font-size: 25px;
  opacity: .3;
}

#reach .myinput1 input {
  width: 65%;
  border: 2px solid white;
  padding: 10px;
  border-radius: 5px;
  margin-left: 30px;
}

#reach .myinput1 input::-webkit-input-placeholder {
  font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
  font-style: italic;
  opacity: .5;
}

#reach .myinput1 input:-ms-input-placeholder {
  font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
  font-style: italic;
  opacity: .5;
}

#reach .myinput1 input::-ms-input-placeholder {
  font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
  font-style: italic;
  opacity: .5;
}

#reach .myinput1 input::placeholder {
  font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
  font-style: italic;
  opacity: .5;
}

#reach .myinput2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#reach .myinput2 .myinput3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 30px 0px;
}

#reach .myinput2 .myinput3 .icons {
  position: absolute;
  left: 32%;
  top: 0px;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
}

#reach .myinput2 .myinput3 .icons i {
  font-size: 25px;
  opacity: .3;
}

#reach .myinput2 .myinput3 input {
  width: 62%;
  border: 2px solid white;
  padding: 10px;
  border-radius: 5px;
}

#reach .myinput2 .myinput3 input::-webkit-input-placeholder {
  font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
  font-style: italic;
  opacity: .5;
}

#reach .myinput2 .myinput3 input:-ms-input-placeholder {
  font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
  font-style: italic;
  opacity: .5;
}

#reach .myinput2 .myinput3 input::-ms-input-placeholder {
  font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
  font-style: italic;
  opacity: .5;
}

#reach .myinput2 .myinput3 input::placeholder {
  font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
  font-style: italic;
  opacity: .5;
}

#reach .myinput2 .myinput4 {
  margin: 30px 0px;
}

#reach .myinput2 .myinput4 .icons {
  position: absolute;
  left: 4%;
  top: 0px;
  border-radius: 5px;
  background-color: white;
  padding: 8px;
}

#reach .myinput2 .myinput4 .icons i {
  font-size: 30px;
  opacity: .3;
}

#reach .myinput2 .myinput4 input {
  width: 62%;
  border: 2px solid white;
  padding: 10px;
  border-radius: 5px;
  margin-left: 7%;
}

#reach .myinput2 .myinput4 input::-webkit-input-placeholder {
  font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
  font-style: italic;
  opacity: .5;
}

#reach .myinput2 .myinput4 input:-ms-input-placeholder {
  font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
  font-style: italic;
  opacity: .5;
}

#reach .myinput2 .myinput4 input::-ms-input-placeholder {
  font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
  font-style: italic;
  opacity: .5;
}

#reach .myinput2 .myinput4 input::placeholder {
  font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
  font-style: italic;
  opacity: .5;
}

#reach .area {
  text-align: center;
  padding: 0px 16%;
}

#reach .area .mytextarea {
  padding: 20px;
  width: 100%;
  height: 190px;
  border: 2px solid white;
  border-radius: 5px;
}

#reach .area .mytextarea::-webkit-input-placeholder {
  font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
  font-style: italic;
  opacity: .5;
}

#reach .area .mytextarea:-ms-input-placeholder {
  font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
  font-style: italic;
  opacity: .5;
}

#reach .area .mytextarea::-ms-input-placeholder {
  font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
  font-style: italic;
  opacity: .5;
}

#reach .area .mytextarea::placeholder {
  font-family: 'Lora', 'Helvetica', 'Arial', sans-serif;
  font-style: italic;
  opacity: .5;
}

#reach .button {
  text-align: center;
  padding: 0px 16%;
}

#reach .button .mybutton {
  background-color: #425cbb;
  padding: 15px 0px;
  text-align: center;
  margin: 30px 0px;
}

#reach .button .mybutton a {
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
  font-size: 12px;
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
}
/*# sourceMappingURL=style.css.map */